@define-color dark_primary #1c1c1c;
@define-color dark_secondary #2d2d2d;
@define-color white #ffffff;
@define-color active #6699cc;
@define-color urgent #8f0a0a;

* {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-image: none;
  font-family: monospace;
}

scale > trough {
  background-color: @dark_secondary;
}

scale > trough > highlight {
  background-color: @active;
  border-style: solid;
  border-color: @active;
  border-width: 0.2em;
}

scale > trough > slider {
  background-color: @white;
}

switch > slider {
  background-color: @white;
}

switch:checked {
  background-color: @active;
}

switch {
  background-color: @dark_secondary;
}

#bar,
popover,
popover contents,
calendar {
  background-color: @dark_primary;
}

box,
button,
label {
  background-color: transparent;
  color: @white;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

button:hover,
button:active {
  background-color: @dark_secondary;
}

#end > * + * {
  margin-left: 1em;
}

.sysinfo > * + * {
  margin-left: 0.5em;
}

.clock {
  font-weight: bold;
}

.popup-clock .calendar-clock {
  font-size: 2em;
}

.popup-clock .calendar .today {
  background-color: @active;
}

.workspaces .item.visible {
  box-shadow: inset 0 -1px @white;
}

.workspaces .item.focused {
  box-shadow: inset 0 -1px @active;
  background-color: @dark_secondary;
}

.workspaces .item.urgent {
  background-color: @urgent;
}
